/* LESS Document */
#logo {
  margin-top: -15px;
}
#logo_footer {
  margin-top: -20px;
}
.lead {
  font-size: 15px;
}
h2.pagetitle {
  color: #ffffff !important;
}
hr.spacer {
  margin: 40px 0px;
}
#cta {
  background-color: rgba(250, 174, 11, 0.85);
  padding: 30px;
  margin-top: 50px;
}
<<<<<<< HEAD
#post_header {
  font-size: 13px;
  margin: 10px 0px;
  border-bottom: 1px solid #bdc3c7;
  border-top: 1px solid #bdc3c7;
}
#post_header p {
  font-size: 12px;
  line-height: normal!important;
  padding: 10px 0px 0px 0px;
=======
.article_archive {
  min-height: 450px;
>>>>>>> 982cf84ee6c8e3c651d7b6bf28ea65801c9b04e8
}
#disclaimer {
  background-color: rgba(250, 174, 11, 0.45);
  padding: 10px;
  margin-top: 50px;
}
#disclaimer p {
  font-size: 12px;
  line-height: normal !important;
}
#bottom_download {
  margin: 30px 0px;
}
#footer_crumbs {
  font-size: 12px;
  background: #dddede;
  padding: 10px 0px;
}
#header_crumbs {
  font-size: 12px;
  padding: 10px 0px;
  color: #bdc3c7;
}
#header_crumbs a:link {
  color: #bdc3c7;
}
#header_crumbs a:hover {
  color: rgba(250, 174, 11, 0.85);
}
